@(card: Card, cardSetMap: Map[String, String], cardTypeMap: Map[String, String])

@main("Card") {
  <h1>Card INFO</h1>
  <table border="1" cellspacing="0">
    <tbody>
      <tr>
        <th>NAME</th>
        <td>@card.name</td>
      </tr>
      <tr>
        <th>CARD_TYPE</th>
        <td>@cardTypeMap.get(card.cardTypeId.toString())</td>
      </tr>
      </tr>
        <th>CARD_TEXT</th>
        <td>@Html(card.cardText.replaceAll("\r\n", "<br>"))</td>
      </tr>
      <tr>
        <th>CARD_SET</th>
        <td>@cardSetMap.get(card.cardSet)</td>
      </tr>
      <tr>
        <th>CARD_NUMBER</th>
        <td>@card.cardNumber</td>
      </tr>
    </tbody>
  </table>
  <div>
    <input type="button" id="btnList" value="List">
  </div>
  <script type="text/javascript">
$(document).ready(function() {
	$("#btnList").click(function() {
	  window.location.href = "/list";
	});
});
  </script>
}