@(cardForm: Form[LotrCard01]
	, typeSeq: Seq[(String, String)]
	, sphereSeq: Seq[(String, String)]
	, setSeq: Seq[(String, String)]
	)

@import helper._

@main("LOTR::Card") {
<h1>Edit card</h1>
<div>
@form(routes.LotrCtrl.save()) {
  <input type="hidden" name="id" value="@cardForm("id").value">
  @inputText(cardForm("name"))
  @select(cardForm("typeId01"), typeSeq)
  @select(cardForm("sphereId"), sphereSeq)
  @inputText(cardForm("threatCost"))
  @textarea(cardForm("cardText"))
  @select(cardForm("setId"), setSeq)
  @inputText(cardForm("number"))
  <div>
    <input type="submit" value="Save">
    <input type="button" value="Cancel" id="btn_cancel">
  </div>
</div>
<div id="error">
@cardForm.errors
</div>
}

<script type="text/javascript">
$(document).ready(function() {
  $("#btn_cancel").click(function() {
	// Back to main
	window.location.href = "@routes.LotrCtrl.list()";
  });
});
</script>
}
